<h3>@Model.Field.DisplayName</h3>
<ul>
    @foreach (var fileUpload in Model.ViewModel)
    {
        <li>
            @Html.ActionLink((string) T("Download {0}", fileUpload.FileName).ToString(), "Index", new {id = fileUpload.IdFileUpload, controller = "Download", area = "DbFilesField"}, new {@class = "download-link", target = "_blank"})
        </li>
    }
</ul>
