<h3>@Model.Field.DisplayName</h3>
<ul>
    @foreach (var fileUpload in Model.ViewModel)
    {
        <li>
            <a href='@Href(string.Format("/DBFilesField/Download/{0}?id={1}", fileUpload.FileName, fileUpload.IdFileUpload))'>Download @fileUpload.FileName</a>
        </li>
    }
</ul>
